DATABASE_URL=< add your postgresql database url >

AUTH_SECRET=< generate it with {bunx auth secret} >
BETTER_AUTH_SECRET=< you need to generete it in better auth website >
BETTER_AUTH_URL=< add url of your server or localhost with port >