### DB
POSTGRES_DB=assistsphere_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=<change_me>

DATABASE_URL="postgresql://admin:<change_me>@localhost:5432/assistsphere_db?schema=public"

### Auth
# generate: `bunx auth secret`
AUTH_SECRET=<generate_with_bunx_auth_secret>
BETTER_AUTH_SECRET=<create_in_better_auth_dashboard>
BETTER_AUTH_URL=http://localhost:3000

### App
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1

### Seed (optional)
# SEED_ADMIN_ID=seed_admin
# SEED_ADMIN_EMAIL=admin@example.com
# SEED_ADMIN_NAME=Admin
# SEED_ADMIN_PASSWORD=admin123
# SEED_ADMIN_ACCOUNT_DB_ID=seed_admin_credential